*{
    margin: 0;
    padding: 0;
}



.form-servicio .form-container {
    display: flex;
    justify-content: center;
}


.form-container .form .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    padding: 15px 0px;
    color: #fff;
    text-align: center;
   
}


.form-container .form{
    background: rgba(0, 0, 0, .9);
    width: 50%;
    padding: 0px 30px;
    margin-top: 30px;
    border-radius: 3px;
}



 .form-container .form .form-input,.form-textarea{
    background: rgba(0, 0, 0, .7);
    border: none;
    border-bottom: 2px solid rgb(255, 79, 1);;
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: ' Roboto', sans-serif;
}

.form-container .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}


 .form-container .form .btn-submit{
    width: 70%;
    font-family: Roboto;
    outline: none;
    background: rgb(255, 79, 1);
    font-size: 16px;
    border:  none;
    color: #fff;
    padding: 15px 0px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 10px;
}
.form-container .form .btn-submit:hover{
    background: rgb(255, 79, 1);
    width: 50%;
    border-radius: 10%;

}