.navbar{
    opacity: .9;
}

.navbar .nav-item .nav-link{
    color: #000;
}

.main-header{
    position: relative;
    background-image: url(../img/home.jpg);
    background-size: cover;
    min-height: 600px;
    margin: 110px 0px 0px 0px;
}

.background-overlay{
    position: absolute;
    background: rgba(48, 51, 107,.5);
    min-height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-control, .btn{
    border-radius: 0;
}

.team{
    background: #30336b;

}

footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

@media (max-width: 575.98px) { 
    .footer-menu { 
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}

/*carusel*/
div[class="carusel"]{
    width: 20%;
    height: 20px;

}



.border{
    width: 100px;
    height: 100px;
    margin: 20px 20px 20px 50px;
    border-radius: 50%;
 
}

.cuadro{
    width: 500px;
    height: 175px;
    padding: 20px 50px 50px 50px;
    margin: 50px;
    background-color: black;
    border-radius: solid 5px red;
    
}

h6{
    padding: 30px 0px 0px 90px;

}

span{
    padding: 30px 0px 0px 50px;
}

.caja{
    color: white;
    padding: 30px 0px 0px 0px;
}