body{
    scroll-behavior: smooth;
    height: 100%;
}

.contenedor-principal{
    width: auto;
    height: auto;
}

.contenedor-principal{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.navbar{
    opacity: .9;
}

/*inicio de estilos de servicios*/
.servicios{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

/*fin de estilos de servicios*/

.navbar .nav-item .nav-link{
    font-weight: bold;
    font-size: 25px;
    font-style: normal;
    background-color:#FFFFFF;
    border-radius: 50%;
    margin-right: 5px;
}

/*inicio estilos de slaider*/
.personalizar{
    padding-top: 30px;
    padding-left: 30px;
    height: 400px;
    width: 350px;
    float: left;
}
/* fin estilos de slaider*/
.main-header{
    position: relative;
    background-image: url(../img/er.webp);
    background-size: cover;
    min-height: 600px;
    margin: 110px 0px 0px 0px;
}

.servicio-header{
	position: relative;
    background-image:  url(../img/servicio.webp);
    background-size: cover;
    min-height: 600px;
    margin: 110px 0px 0px 0px;
}
/*
.alcance-header{
    position: relative;
    background-image:  url(../img/vr.webp);
    background-size: cover;
    min-height: 600px;
    margin: 110px 0px 0px 0px;
}
*/
.background-overlay{
    position: absolute;
    background: rgba(48, 51, 107,.5);
    min-height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-control, .btn{
    border-radius: 0;
}

.team{
    background: #30336b;

}

/*carusel*/
div[class="carusel"]{
    width: 20%;
    height: 20px;

}



.border{
    width: 100px;
    height: 100px;
    margin: 20px 20px 20px 50px;
    border-radius: 50%;
 
}



h6{
    padding: 30px 0px 0px 90px;

}

span{
    padding: 30px 0px 0px 50px;
}

.caja{
    color: white;
    padding: 30px 0px 0px 0px;
}

/*estilos section nosotros*/
.wrapper {
	position: relative;
	padding: 6em 0 9em 0;	
}



.wrapper .title {
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	letter-spacing: 0.25em;
	font-size: 0.9em;
	width: 25em;
	height: 3.25em;
	top: -3.25em;
	line-height: 3.25em;
	margin-bottom: -3.25em;
	margin-left: -12.5em;
	padding-top: 0.5em;
}

    .wrapper .title {
		font-size: 0.9em;
		width: 18em;
		height: 2.5em;
		top: -2.5em;
		line-height: 2.5em;
		margin-bottom: -2.5em;
		margin-left: -9em;
		padding-top: 0.5em;
	}



.wrapper.style1 {
    background: #e97770 url("images/overlay.png");
    color: #eee;
    color: rgba(255, 255, 255, 0.75);
}

    .wrapper.style1 .title {
        background: #e97770 url("images/overlay.png");
        color: #fff;
        
    }

	#intro {
		text-align: center;

	}
		#intro p.style1 {
			font-size: 1.5em;
			letter-spacing: 0.075em;
        }

		#intro p.style2 {
			font-weight: 700;
			color: #fff;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
			font-size: 1.50em;
			letter-spacing: 0.075em;
			line-height: 1.35em;
			padding: 1em 0 1em 0;
			margin-bottom: 1em;
        }

			#intro p.style2 a {
				color: inherit;
				text-decoration: none;
			}
	
		#intro p.style3 {
			font-size: 1.1em;
        }
        /*fin de estilos nosotros*/  
/*estilo titulo de alcance*/
.alcance-center{
    background-color: red;
    padding-left: 40%;
}
.text-alcance{
    display: inline-block;
    position: relative;
    margin-top: 10px;
    color: black;
    font-family: Arial; 
}

.text-alcance::after,.text-alcance::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color:currentColor;/*se adata al color que le ponga al texto*/
    top: 0.6em;
}


.text-alcance::before{
    right: -140px;
}

.text-alcance::after{
    left: -140px;
}

/*fin estilo titulo de alcance*/

/*inicio de footer*/



footer{
    width: 100%;
    height: 100%;
    background-color: #202020;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    word-wrap: break-word;/*adatar contenido al div*/
}

.container-body{
    display: flex;/*cada uno de los elementos se coloquen uno del lado del otro*/
    justify-content: space-between;/*todos abarcan el 100%*/
}

.colum1{
    max-width: 400px;/*se multiplica el max-width
    del contenedor por la cantidad de columnas 
    el resultado sera el max-width de cada columna*/
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top:20px;
    display: flex;
}



.icon{
    font-size: 36px;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

.row label{
    margin-top: 15px;
    margin-left: 10px;
    color: #c7c7c7;
}

.colum3{
    max-width: 400px;

}

.colum3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
}


.row2 label {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 140px;
}



.copyright{
    color: #c7c7c7;
}

.copyright a{
   text-decoration: none;
   color: white;
   font-weight: bold;
 
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}

/*estilos paginas*/
